
/* .box */

.box {
    margin: 100px;
    width: 200px;
    height: 200px;
    border: 5px solid black;
    box-shadow: 10px 15px 10px red;
    transition-duration: 2s;
    transform: scale(1);

}

.box:hover {
    /* cursor: pointer; */
    box-shadow: 10px 15px 30px rgb(238, 13, 13);
    width: 400px;
    height: 400px;
 }


 /* circle  */

 .circle{
    margin: 100px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: yellow;
    /* opacity: .4; */
    animation: change 4s;

 }

 @keyframes change {
    0%{
        background-color: yellow;
    }

    100%{
        background-color: rgba(212, 221, 78, 0.1);

 }


 }

    


/* text  */


.text{
    font-size: 20px;
    transition-property: all;
    transition-duration: 7s;
}

.text:hover {
      
    font-size: 8px;

}