
/* .box */

.box {
    margin: 100px;
    width: 200px;
    height: 200px;
    border: 5px solid black;
    box-shadow: 10px 15px 10px red;
    transition-duration: 2s;
    transform: scale(1);

}

.box:hover {
    /* cursor: pointer; */
    box-shadow: 10px 15px 30px rgb(238, 13, 13);
    width: 400px;
    height: 400px;
 }


 /* circle  */

 .circle{
    margin: 100px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: yellow;
    /* opacity: .4; */
    animation: change 4s;

 }

 @keyframes change {
    0%{
        background-color: yellow;
    }

    100%{
        background-color: rgba(212, 221, 78, 0.1);

 }


 }

    


/* text  */


.text{
    font-size: 20px;
    transition-property: all;
    transition-duration: 7s;
}

.text:hover {
      
    font-size: 8px;

}

/* header  */

nav{
    margin: 10%;
    padding: 20px 30px 20px 30px;
    border: 5px solid red;
    box-shadow: inset 10px 10px 10px  red;
    
      
}

ul{
    display: flex;
    justify-content: end;
    gap: 200px;
    
    }

.navigation{
    font-size: 15px;
       transition: 5s .5s;
    cursor: pointer;
}

.navigation:hover{
    background-color: red;
    font-size: 20px;
}

/* image */

.photo{
    margin: 20px;
    width: 50vw;
    height: 100vh;
    border: 3px solid blue;
    background-image: url(../photo\ earth.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    animation-name: photo;
    animation-duration: 5s;
    transform: rotate(360deg);
    animation-iteration-count: infinite;

  
}

@keyframes photo{

    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}